<%-include('header')-%>

        <!--navbar-->
        <header>
            <a href="#" class="logo"><i class='bx bxl-foursquare'></i>Fashion</a>
            
            <ul class="navbar">
                <li><a href="#home">Home</a></li>
                <li><a href="#New">New Arrivals</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#reviews">Reviews</a></li>
            </ul>



            <!--icons-->
            <div class="header-icons">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-search' id="search-icon"></i>
                <i class='bx bx-cart' id="cart-icon"></i>
                <i class='bx bx-user'id="user-icon" ></i>  
            </div>
            <!--search-box-->
            <div class="search-box">
                <input type="search" name="" id="" placeholder="Search Here.....">
            </div>

            <!--cart-box-->
            <div class="cart">
                <!--box-1-->
                <div class="box">
                    <img src="/assets/wb4.webp" alt="">
                    <div class="text">
                        <h3>Gray-Shirt</h3>
                        <span>500/-</span>
                        <span>x1</span>
                    </div>
                    <i class='bx bx-trash-alt' ></i>
                </div>
                <!--box-2-->
                <div class="box">
                    <img src="/assets/wb7.jpg" alt="">
                    <div class="text">
                        <h3>Jeans</h3>
                        <span>700/-</span>
                        <span>x1</span>
                    </div>
                    <i class='bx bx-trash-alt' ></i>
                </div>
                <h2>Total: 1200/-</h2>
                <a href="#" class="btn">Checkout</a>
                
            </div>
            <!--user-->
        <div class="user">
            <h2>Login Now</h2>
            <input type="email" placeholder="Your Email....">
            <input type="password" name="" id="" placeholder="Password">
            <input type="submit" value="Login" class="login-btn">
            <p>Forget Password <a href="#">Reset Now</a></p>
            <p>Don't have account <a href="#">Create One</a></p>

        </div>    
</header>
         <!--home-->
         <section class="home" id="home">
            <div class="home-text">
                <span>Shop Now</span>
                <h1>New Arrival of <br>Fresh Products</h1>
                <a href="#" class="btn">Shop Now</a>
            </div>
            <div class="home-img">
                <img src="/assets/home.png" alt="">
            </div>

         </section>
         <!--new arrivals-->
      <section class="new" id="New">
        <div class="heading">
            <h1>New <span>Arrivals</span></h1>
        </div>
        <div class="swiper new-arrivals">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/assets/wb1.webp" alt="">
                    
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/wb12.jpg" alt="">
                   
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/wb16.jpeg" alt="">
                   
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/wb6.jpg" alt="">
                    
                </div>
                </div>
        </div>
      </section>
      <!--product-->
     <section class="product" id="products">
        <div class="heading">
            <h1>Our <span>Products</span></h1>
        </div>
        <div class="product-container">
            <div class="box">
            <img src="/assets/wb3.jpg"  alt="">
            <div class="content">
                <h2>Black-shirt</h2>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bx-star' ></i>
                </div>
                <span>999/-</span>
                <i class='bx bx-cart'></i>
               </div>
            </div>
            <div class="box">
                <img src="/assets/wb11.jpg" alt="">
                <div class="content">
                    <h2>white-full-sleeves-T-Shirt</h2>
                    <div class="stars">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <span>500/-</span>
                    <i class='bx bx-cart'></i>
                   </div>
                </div>
                <div class="box">
                    <img src="/assets/wb6.jpg" alt="">
                    <div class="content">
                        <h2>Maroon pant</h2>
                        <div class="stars">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star' ></i>
                        </div>
                        <span>1150/-</span>
                        <i class='bx bx-cart'></i>
                       </div>
                    </div>
                    <div class="box">
                        <img src="/assets/wb8.jpg" alt="">
                        <div class="content">
                            <h2>Gray-Jogger</h2>
                            <div class="stars">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bx-star' ></i>
                            </div>
                            <span>1990/-</span>
                            <i class='bx bx-cart'></i>
                           </div>
                        </div>
                        <div class="box">
                            <img src="/assets/wb16.jpeg" alt="">
                            <div class="content">
                                <h2>Shoes/h2>
                                <div class="stars">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star' ></i>
                                </div>
                                <span>1800/-</span>
                                <i class='bx bx-cart'></i>
                               </div>
                            </div>
                            <div class="box">
                                <img src="/assets/wb17.jpeg" alt="">
                                <div class="content">
                                    <h2>Formal-Shoes</h2>
                                    <div class="stars">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <span>1000/-</span>
                                    <i class='bx bx-cart'></i>
                                   </div>
                                </div> 
                                <div class="box">
                                    <img src="/assets/wb18.jpeg" alt="">
                                    <div class="content">
                                        <h2>Shoes</h2>
                                        <div class="stars">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star-half' ></i>
                                        </div>
                                        <span>900/-</span>
                                        <i class='bx bx-cart'></i>
                                       </div>
                                    </div> 
                                    <div class="box">
                                        <img src="/assets/wb2.webp" alt="">
                                        <div class="content">
                                            <h2>Shirt</h2>
                                            <div class="stars">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star' ></i>
                                            </div>
                                            <span>700/-</span>
                                            <i class='bx bx-cart'></i>
                                           </div>
                                        </div> 

        </div>
      </section>
        <!--reviews-->
      <section class="reviews" id="reviews">
        <div class="heading">
            <h1>Our </h1><span>Customer's</span>
        </div>
        <div class="reviews-container">
            <div class="box">
                <img src="/assets/r1.png" alt="">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <p>Mastan was amazing and gave us the time and attention we needed for selecting the outfits We would recommend him to all my friends.</p>
                 <h2>candy</h2>
            </div>
            <div class="box">
                <img src="/assets/r2.png" alt="">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <p>Mastan was just wonderful in helping me in finding the best shoes for my office I do not think I would have picked it out - BUT he found the perfect shoes for me! Thank you! *Your selection is great! Beautiful store!.</p>
                 <h2>myra</h2>
            </div>
            <div class="box">
                <img src="/assets/r4.jpeg" alt="">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <p>Mastan was wonderful! The selection of Communion dresses was beautiful! Will definitely suggest friends to come here! Great experience!</p>
                 <h2>Jhon</h2>
            </div>

        </div>
      </section>
      <!--footer-->
      <section class="footer">
        <div class="footer-box">
            <h2>Fashion</h2>
            <p>Today s men s clothing is a line of ultimate representation of a man s body confidence that will make him all the more stylish and glamorous. Find about the lessons of men s clothing and the cardinal rules of dressing up in relation to your style as you read on.</p>
             
            <div class="social">
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-tiktok' ></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>support</h3>
            <li><a href="#">Product</a></li>
            <li><a href="#">Help & support</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">FAQ</a></li>
        </div>
        <div class="footer-box">
            <h3>Payment Methods</h3>
            <div class="payment">
                <img src="/assets/p1.png" alt="">
                <img src="/assets/p2.png" alt="">
                <img src="/assets/p3.png" alt="">
                <img src="/assets/p4.png" alt="">
                <img src="/assets/p5.png" alt="">
            </div>
            
        </div>
      </section>
       <!--copyright-->
       <div class="copyright">
        <p>&#169; Fashion All Rights Reserved</p>
       </div>
  
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    let search = document.querySelector('.search-box');

document.querySelector('#search-icon').onclick = () =>{
    search.classList.toggle('active');
    cart.classList.remove('active');
    user.classList.remove('active');
    navbar.classList.remove('active');
}

let cart = document.querySelector('.cart');

document.querySelector('#cart-icon').onclick = () =>{
    cart.classList.toggle('active');
    search.classList.remove('active');
    user.classList.remove('active');
    navbar.classList.remove('active');
}

let user = document.querySelector('.user');

document.querySelector('#user-icon').onclick = () =>{
    user.classList.toggle('active');
    search.classList.remove('active');
    cart.classList.remove('active');
    navbar.classList.remove('active');
}

let navbar = document.querySelector('.navbar');

document.querySelector('#menu-icon').onclick = () =>{
    navbar.classList.toggle('active');
    search.classList.remove('active');
    cart.classList.remove('active');
    user.classList.remove('active');
}

window.onscroll = () => {
 
    search.classList.remove('active');
    cart.classList.remove('active');
    user.classList.remove('active');
    navbar.classList.remove('active');
}
 let header = document.querySelector('header');
            
            window.addEventListener('scroll',() => {
              header.classList.toggle('shadow',window.scrollY > 0);
            
            });

    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
<%-include('footer')-%>